USE [master]
GO
/****** Object:  Database [PPD]    Script Date: 13.06.2022 21:38:02 ******/
CREATE DATABASE [PPD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPD', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\PPD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPD_log', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\PPD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPD]
GO
/****** Object:  Table [dbo].[auto]    Script Date: 13.06.2022 21:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto](
	[idAuto] [int] NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[InsuranceCost] [money] NOT NULL,
	[StateNumber] [varchar](50) NOT NULL,
	[IdViolator] [int] NOT NULL,
	[YearOfRelease] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 13.06.2022 21:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journal](
	[Model] [varchar](50) NOT NULL,
	[StateNumber] [varchar](50) NOT NULL,
	[DateViolation] [date] NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfViolation]    Script Date: 13.06.2022 21:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfViolation](
	[IdTypeOfViolation] [int] NOT NULL,
	[NameOfViolation] [varchar](50) NOT NULL,
	[SizeFine] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeOfViolation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violation]    Script Date: 13.06.2022 21:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violation](
	[IdViolation] [int] NOT NULL,
	[DateViolation] [date] NOT NULL,
	[RightToDrive] [varchar](50) NOT NULL,
	[idAuto] [int] NOT NULL,
	[IdTypeOfViolation] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdViolation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[violator]    Script Date: 13.06.2022 21:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[violator](
	[IdViolator] [int] NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NOT NULL,
	[Passport_Series] [varchar](50) NOT NULL,
	[Passport_Numbers] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdViolator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auto]  WITH CHECK ADD  CONSTRAINT [FK_1_2] FOREIGN KEY([IdViolator])
REFERENCES [dbo].[violator] ([IdViolator])
GO
ALTER TABLE [dbo].[auto] CHECK CONSTRAINT [FK_1_2]
GO
ALTER TABLE [dbo].[Violation]  WITH CHECK ADD  CONSTRAINT [FK_3_4] FOREIGN KEY([idAuto])
REFERENCES [dbo].[auto] ([idAuto])
GO
ALTER TABLE [dbo].[Violation] CHECK CONSTRAINT [FK_3_4]
GO
ALTER TABLE [dbo].[Violation]  WITH CHECK ADD  CONSTRAINT [FK_5_6] FOREIGN KEY([IdTypeOfViolation])
REFERENCES [dbo].[TypeOfViolation] ([IdTypeOfViolation])
GO
ALTER TABLE [dbo].[Violation] CHECK CONSTRAINT [FK_5_6]
GO
USE [master]
GO
